<a href="https://colab.research.google.com/github/CoderJuan21/C-120/blob/main/C_120_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
notfiles = files.upload()

Saving C-120.csv to C-120.csv

In [3]:
import pandas as pd

df = pd.read_csv("C-120.csv")
df.head(10)

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1
5       45             82         0
6       40             85         0
7       30             63         1
8       65             65         1
9       45             82         0

In [8]:
from sklearn.model_selection import train_test_split

X= df[["glucose","bloodpressure"]]
y = df["diabetes"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy*100)

94.37751004016064

In [10]:
from sklearn.model_selection import train_test_split

X= df[["glucose","bloodpressure"]]
y = df["diabetes"]

X_train_1, X_test_1, y_train_1, y_test_1  = train_test_split(X, y, test_size = 0.25, random_state = 42)

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_1 = sc.fit_transform(X_train_1)
X_test_1 = sc.fit_transform(X_test_1)
model1 = LogisticRegression(random_state = 0)
model1.fit(X_train_1, y_train_1)
y_pred_1 = model1.predict(X_test_1)
accuracy = accuracy_score(y_test_1, y_pred_1)
print(accuracy*100)

91.56626506024097

In [11]:
from google.colab import files
notfiles = files.upload()

Saving income.csv to income.csv

In [12]:
import pandas as pd

df = pd.read_csv("income.csv")
df.head(10)

   age          workclass  ...  native-country  income
0   39          State-gov  ...   United-States   <=50K
1   50   Self-emp-not-inc  ...   United-States   <=50K
2   38            Private  ...   United-States   <=50K
3   53            Private  ...   United-States   <=50K
4   28            Private  ...            Cuba   <=50K
5   37            Private  ...   United-States   <=50K
6   49            Private  ...         Jamaica   <=50K
7   52   Self-emp-not-inc  ...   United-States    >50K
8   31            Private  ...   United-States    >50K
9   42            Private  ...   United-States    >50K

[10 rows x 14 columns]

In [13]:
from sklearn.model_selection import train_test_split

X= df[["age","education-num","hours-per-week","capital-gain","capital-loss"]]
y = df["income"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(accuracy*100)

78.96692021935256

In [15]:
from sklearn.model_selection import train_test_split

X= df[["age","education-num","hours-per-week","capital-gain","capital-loss"]]
y = df["income"]

X_train_2, X_test_2, y_train_2, y_test_2  = train_test_split(X, y, test_size = 0.25, random_state = 42)

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_2 = sc.fit_transform(X_train_2)
X_test_2 = sc.fit_transform(X_test_2)
model2 = LogisticRegression(random_state = 0)
model2.fit(X_train_2, y_train_2)
y_pred_2 = model2.predict(X_test_2)
accuracy = accuracy_score(y_test_2, y_pred_2)
print(accuracy*100)

81.16929064213691